body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #2c3e50;
}

form {
    margin: 20px;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}

#downloadLinks {
    margin-top: 30px;
}

#downloadLinks ul {
    list-style-type: none;
    padding: 0;
}

#downloadLinks a {
    text-decoration: none;
    color: #3498db;
    font-size: 18px;
}

#downloadLinks a:hover {
    text-decoration: underline;
}
